<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.module_player">

    <application>
        <activity
            android:name=".UGCDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewDetailActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="com.example.newdetailactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>